/* ------------------------------------- SLIDESHOW --------------------------------------- */

.slide_fadein {
    animation-name: slide_fadein;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes slide_fadein {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.slide_text_fadeup {
    animation-name: slide_text_fadeup;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide_text_fadeup {
    0% {
        opacity: 0;
        top: -575px;
    }
    
    100% {
        opacity: 1;
        top: -600px;
    }
}

/* --------------------------------------- CARDS ----------------------------------------- */

.card_hover:hover {
    animation-name: card_hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes card_hover {
    0% {
        top: 0;
    }
    
    100% {
        box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
        top: -10px;
    }
}

/* -------------------------------------- DISPLAY ---------------------------------------- */

.display_fadeup {
    animation-name: display_fadeup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes display_fadeup {
    0% {
        opacity: 0;
        top: 50px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/* --------------------------------------- ABOUT ----------------------------------------- */


/* -------------------------------------- CONTACT ---------------------------------------- */