/* -------------------------------------- SIDEBAR --------------------------------------- */

.sidebar_appearleft {
    animation-name: sidebar_appearleft;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes sidebar_appearleft {
    0% {
        left: -400px;
    }
    100% {
        left: 0;
    }
}

.sidebar_disappearleft {
    animation-name: sidebar_disappearleft;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes sidebar_disappearleft {
    0% {
        left: 0;
    }
    
    100% {
        left: -400px;
    }
}

/* ------------------------------------- SLIDESHOW --------------------------------------- */

.slide_fadein {
    animation-name: slide_fadein;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes slide_fadein {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.slide_text_fadeup {
    animation-name: slide_text_fadeup;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide_text_fadeup {
    0% {
        opacity: 0;
        top: -575px;
    }
    
    100% {
        opacity: 1;
        top: -600px;
    }
}

/* --------------------------------------- TITLE ----------------------------------------- */

.text_fadeup {
    animation-name: text_fadeup;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes text_fadeup {
    0% {
        opacity: 0;
        top: -405px;
    }
    
    100% {
        opacity: 0.7;
        top: -430px;
    }
}

/* --------------------------------------- CARDS ----------------------------------------- */

.card_hover_up {
    animation-name: card_hover_up;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes card_hover_up {
    0% {
        top: 0;
    }
    
    100% {
        box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
        top: -10px;
    }
}

.card_hover_down {
    animation-name: card_hover_down;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes card_hover_down {
    0% {
        box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
        top: -10px;
    }
    
    100% {
        top: 0;
    }
}

/* -------------------------------------- DISPLAY ---------------------------------------- */

.display_fadeup {
    animation-name: display_fadeup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes display_fadeup {
    0% {
        opacity: 0;
        top: 50px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/* --------------------------------- MINI SLIDESHOW -------------------------------------- */

.mini_slideshow_fadup {
    animation-name: mini_slideshow_fadup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes mini_slideshow_fadup {
    0% {
        opacity: 0;
        top: 25px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/* --------------------------------------- VIDEO ----------------------------------------- */

.video_fadeup {
    animation-name: video_fadeup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes video_fadeup {
    0% {
        opacity: 0;
        top: 25px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/* --------------------------------------- READ ------------------------------------------ */

.read_fadeup {
    animation-name: read_fadeup;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes read_fadeup {
    0% {
        opacity: 0;
        top: 25px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

/* --------------------------------------- ABOUT ----------------------------------------- */


/* -------------------------------------- CONTACT ---------------------------------------- */