/* --------------------------------------- GENERAL --------------------------------------- */

/*

    My Colors:      #404040     #cccccc     #f7f7f7     #003366     #3b5998
    Achromatic:     #ffffff     #e6e6e6     #d9d9d9     #cccccc     #bfbfbf
    Alternative:    #f9f9f9

*/

@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans|Play');

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    color: #404040;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #404040;
    cursor: pointer;
    font-family: "Maven Pro", sans-serif;
    text-decoration: none;
}

li {
    color: #404040;
    font-family: "Maven Pro", sans-serif;
}

h1 {
    color: #404040;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

footer {
    background-color: #e6e6e6;
}

.img {
    background: linear-gradient(to top, #f9f9f9, transparent);
    background-size: cover; 
    display: block;
    width: 100%;
    height: 980px;
}

.special_link {
    color: #003366;
    font-weight: bold;
}

.special_link:hover {
    color: #3b5998;
}

/* --------------------------------------- NAVBAR ---------------------------------------- */

.header_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding: 0 25px;
}

.logo {
    height: auto;
}

.tabs {
    max-width: 100%;
}

.tabs ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.tabs ul li {
    display: inline;
    font-size: 17px;
    margin: 0 10px;
    padding: 10px 15px;
}

.tabs ul li:hover {
    text-decoration: underline;
    
}

.tabs ul a {
    text-decoration: none;
}

.tabs .dropdown_container {
    display: inline-block;
    position: relative;
}

.tabs .dropdown_container .dropdown_content {
    display: none;
    background-color: #ffffff;
    padding: 0;
    position: absolute;
    width: 180px;
    z-index: 2;
    top: 40px;
    left: .5px;
}

.tabs .dropdown_container .dropdown_content li {
    display: block;
    margin: 0;
    padding: 15px;
}

.tabs .dropdown_container:hover .dropdown_content {
    display: block;
}

.tabs_mobile {
    display: flex;
    max-width: 100%;
    font-size: 35px;
}

/* -------------------------------------- SIDEBAR ---------------------------------------- */

.sidebar {
    display: none;
    background-color: #e6e6e6;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.sidebar p {
    font-size: 25px;
    margin: auto;
    text-align: right;
    width: 85%;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    font-size: 20px;
    padding: 20px 0 0 0;
    width: 85%;
}

.sidebar .dropdown_container {
    
}

.sidebar .dropdown_container .dropdown_content {
    display: none;
}


/* ------------------------------------- SLIDESHOW --------------------------------------- */

.slideshow {
    position: relative;
}

.slide .img {
    background-size: cover; 
    display: block;
    width: 100%;
    height: 980px;
}

.slide_text {
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    width: 70%;
    top: -600px;
    margin: auto;
}

.slide_text h1 {
    margin: 5px 0;
}

.slide_text p {
    font-size: 18px;
}

.slide_text a {
    background-color: #404040;
    border: 1px solid #404040;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.slide_css_zen_garden,
.slide_survive_cambodia {
    text-align: right;
}

.button_left,
.button_right {
    background-color: #404040;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    opacity: 0.25;
    padding: 470px 25px;
    position: absolute;
    top: 0;
}

.button_right {
    right: 0;
}

.button_left:hover, 
.button_right:hover {
   opacity: 0.5;
}

.bottom_fade img {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 69%;
}

/* --------------------------------------- TITLE ----------------------------------------- */

.title {
    text-align: center;
}

.title div {
    background-color: #000000;
    position: relative;
    margin: auto;
    padding: 35px;
    top: -430px;
    width: 500px;
    opacity: 0.7;
}

.title_text {
    position: relative;
}

.title_text h1 {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 45px;
    opacity: 1;
    padding: 10px;
}

.title_text p {
    color: #ffffff;
    font-size: 20px;
    opacity: 1;
    padding: 10px;
}

.title .img {
    height: 800px;
}

.title_about .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/welcome_bg.jpg) no-repeat center;
}

.title_resume .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/resume_bg.jpeg) no-repeat center;
}

.title_web_development .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/web_development_bg.jpg) no-repeat center;
}

.title_video_editing .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/video_editing_bg.jpg) no-repeat center;
}

.title_writing .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/writing_bg.jpg) no-repeat center;
}

.title_media .img {
    background: linear-gradient(to top, #f9f9f9, transparent), url(../img/contact_bg.jpg) no-repeat center;
}

.title_game .img {
    background: linear-gradient(to top, #404040, transparent), linear-gradient(to bottom, #f9f9f9, transparent), url(../img/contact_bg.jpg) no-repeat center;
}

/* --------------------------------------- CARDS ----------------------------------------- */

.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: auto;
    max-width: 1200px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 25px;
    position: relative;
}

.card img {
    max-width: 350px;
    max-height: 250px;
}

.card_text {
    max-width: 350px;
    padding: 10px 20px 20px 20px;
}

.card_text h1 {
    font-size: 25px;
    font-weight: 100;
}

.card_text p {
    font-size: 15px;
}

.card_text a {
    color: #003366;
    text-transform: uppercase;
}

.card_text a:hover {
    color: #3b5998;
}

.card_title h1 {
    font-size: 25px;
    font-weight: 100;
    padding: 15px 0;
    text-align: center;
    max-width: 350px;
}

/* -------------------------------------- DISPLAY ---------------------------------------- */

.display_container {
    margin: auto;
    max-width: 1200px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 25px;
    position: relative;
}

.display img {
    width: 350px;
    height: 250px;
}

.display ul li {
    line-height: 25px;
}

.display_lor ul li {
    margin: 10px 0;
}

.display_text {
    padding: 0 15px;
    width: 100%;
}

.display_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.display_title h1 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 10px;
}

.display_title a {
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 10px;
}

.read_me {
    display: block;
    background-color: #404040;
    color: #ffffff;
    font-size: 17px;
    margin: 10px 0;
    padding: 5px 15px;
    text-align: center;
    width: 250px;
}

.read_me a {
    color: #ffffff;
}

/* --------------------------------- MINI SLIDESHOW -------------------------------------- */

.mini_slideshow {
    margin: auto;
    max-width: 1200px;
}

.mini_slides {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 35px;
    position: relative;
}

.mini_slides .close_button {
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 10px;
}

.mini_slide img {
    display: block;
    margin: auto;
    width: 100%;
}

.mini_slide p {
    text-align: center;
}

.mini_slide_buttons {
    text-align: center;
    padding: 15px 0;
}

.mini_button_left,
.mini_button_right {
    background-color: #404040;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    opacity: 0.5;
    padding: 10px 25px;
}

.mini_button_left:hover, 
.mini_button_right:hover {
   opacity: 0.75;
}

.mini_button_right {
    
}

/* --------------------------------------- VIDEO ----------------------------------------- */

.video_container {
    margin: auto;
    max-width: 1200px;
}

.video {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 35px;
    position: relative;
}

.video video {
    width: 100%;
}

/* --------------------------------------- READ ------------------------------------------ */

.read_container {
    margin: auto;
    max-width: 1200px;
}

.read {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 50px;
    position: relative;
}

.read a {
    font-size: 20px;
    position: absolute;
    right: 50px;
}

.read_text {
    font-size: 16px;
    line-height: 35px;
}

.indent {
    text-indent: 50px;
}

/* -------------------------------------- ABOUT ME --------------------------------------- */

.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding: 50px 0;
}

.aboutme_bio {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 25px;
}

.aboutme_bio img {
    max-width: 263px;
}

.bio_text {
    max-width: 263px;
}

.bio_text h1 {
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
}

.aboutme_info {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 25px;
    max-width: 60%;
}

/* -------------------------------------- CONTACT ---------------------------------------- */

.media_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: auto;
    max-width: 1200px;
}

.media {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 25px;
    margin: 10px;
    padding: 15px 25px;
}

.media_text {
    font-size: 17px;
    padding: 50px;
    width: 1000px;
}

.media_google {
    width: 890px;
}

.media_linkedin {
    background-color: #007bb5;
}

.media_linkedin:hover {
    opacity: 0.7;
}

.media_google p,
.media_linkedin p {
    font-size: 22px;
    text-align: center;
}

.media_google i,
.media_linkedin i {
    font-size: 25px;
    padding: 0 10px;
}

.media_linkedin i {
    color: #ffffff;
}

/* --------------------------------------- FOOTER ---------------------------------------- */

.footer_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    padding: 25px 50px;
}

.footer_flex div {
    width: 40%;
}

.footer_flex span {
    border: .5px solid #cccccc;
    height: 100px;
}

.contacts p {
    padding: 5px 10px;
}

.contacts i {
    color: #3b5998;
    font-size: 24px;
}

.contacts i:hover {
    color: #003366;
}

.extra p {
    
    text-align: right;
}