@media screen and (min-width: 1024px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .tabs_mobile {
        display: none;
    }
}

/* --------------------------------------- TABLET ---------------------------------------- */

@media screen and (max-width: 1024px) and (min-width: 480px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .tabs {
        display: none;
    }
    
    /* -------------------------------------- SIDEBAR ---------------------------------------- */
    
    .sidebar {
        width: 325px;
    }
    
    /* ------------------------------------- SLIDESHOW --------------------------------------- */
    
    .slide .img {
        height: 880px;
    }
    
    .button_left,
    .button_right {
        padding: 400px 25px;
    }
    
    /* --------------------------------------- TITLE ----------------------------------------- */
    
    .title .img {
        height: 750px;
    }
    
    /* -------------------------------------- DISPLAY ---------------------------------------- */
    
    .display {
        flex-direction: column;
        align-items: center;
    }
    
    .display_text {
        padding: 15px;
    }
    
    /* -------------------------------------- ABOUT ME --------------------------------------- */
    
    .aboutme {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    
    .aboutme_bio {
        max-width: 80%;
    }
    
    .aboutme_bio img {
        max-width: 263px;
    }
    
    .aboutme_info {
        max-width: 80%;
    }
    
    /* --------------------------------- MINI SLIDESHOW -------------------------------------- */
    
    /* --------------------------------------- FOOTER ---------------------------------------- */
    
    .footer_flex span {
        display: none;
    }
}

/* --------------------------------------- PHONE ----------------------------------------- */

@media screen and (max-width: 480px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .header_flex {
        
    }
    
    .logo {
        width: 0%;
    }
    
    .tabs {
        display: none;
    }
    
    /* -------------------------------------- SIDEBAR ---------------------------------------- */

    .sidebar {
        width: 250px;
    }
    
    /* --------------------------------------- TITLE ----------------------------------------- */
    
    .title .img {
        height: 750px;
    }
    
    /* -------------------------------------- DISPLAY ---------------------------------------- */
    
    .display {
        flex-direction: column;
        align-items: center;
    }
    
    .display_text {
        padding: 15px;
    }
    
    .display img {
        width: 100%;
        height: 100%;
    }
    
    /* -------------------------------------- ABOUT ME --------------------------------------- */
    
    .aboutme {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin: 150px 0;
    }
    
    .aboutme_bio {
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        padding: 25px;
    }
    
    .aboutme_bio img {
        max-width: 100%;
    }
    
    .aboutme_info {
        max-width: 100%;
    }
    
    /* --------------------------------------- FOOTER ---------------------------------------- */
    
    .footer_flex {
        display: block;
    }
    
    .footer_flex span {
        display: none;
    }
    
    .footer_flex div {
        padding: 10px 0;
        width: 100%;
    }
}