@media screen and (min-width: 1024px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .tabs_mobile {
        display: none;
    }
}

/* --------------------------------------- TABLET ---------------------------------------- */

@media screen and (max-width: 1024px) and (min-width: 480px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .tabs {
        display: none;
    }
    
    /* -------------------------------------- SIDEBAR ---------------------------------------- */
    
    .sidebar {
        width: 325px;
    }
    
    /* --------------------------------------- TITLE ----------------------------------------- */
    
    .title div {
        width: 80%;
    }
    
    .title .img {
        height: 750px;
    }
    
    /* -------------------------------------- DISPLAY ---------------------------------------- */
    
    .display {
        flex-direction: column;
        align-items: center;
    }
    
    .display_text {
        padding: 15px;
    }
    
    /* -------------------------------------- ABOUT ME --------------------------------------- */
    
    .aboutme {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    
    .aboutme_bio {
        max-width: 80%;
    }
    
    .aboutme_bio img {
        max-width: 263px;
    }
    
    .aboutme_info {
        max-width: 80%;
    }
    
     /* -------------------------------------- CONTACT ---------------------------------------- */
    
    .media_google {
        width: 85%;
    }
    
    .media_google p, 
    .media_google i {
        font-size: 21px;
    }
}

/* --------------------------------------- PHONE ----------------------------------------- */

@media screen and (max-width: 480px) {
    
    /* --------------------------------------- NAVBAR ---------------------------------------- */
    
    .logo img {
        width: 100%;
    }
    
    .tabs {
        display: none;
    }
    
    /* -------------------------------------- SIDEBAR ---------------------------------------- */

    .sidebar {
        width: 250px;
    }
    
    /* --------------------------------------- TITLE ----------------------------------------- */
    
    .title div {
        width: 80%;
    }
    
    .title .img {
        height: 750px;
    }
    
    .title_text h1 {
        font-size: 30px;
    }
    
    .title_text p {
        font-size: 15px;
    }
    
    /* -------------------------------------- DISPLAY ---------------------------------------- */
    
    .display {
        flex-direction: column;
        align-items: center;
    }
    
    .display_text {
        padding: 15px;
    }
    
    .display img {
        width: 100%;
        height: 100%;
    }
    
    /* -------------------------------------- ABOUT ME --------------------------------------- */
    
    .aboutme {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin: 150px 0;
    }
    
    .aboutme_bio {
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 10px;
        padding: 25px;
    }
    
    .aboutme_bio img {
        max-width: 100%;
    }
    
    .aboutme_info {
        max-width: 100%;
    }
    
    /* -------------------------------------- CONTACT ---------------------------------------- */
    
    .media {
        width: 100%;
    }
    
    .media_google p, 
    .media_google i {
        font-size: 18px;
    }
    
    form input {
        width: 100%;
    }
    
    /* --------------------------------------- FOOTER ---------------------------------------- */
    
    .footer_flex {
        display: block;
    }
    
    .footer_flex div {
        padding: 10px 0;
        width: 100%;
    }
}