@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* {
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-color: black;
    background-image: url(../images/Zen%20Garden%20Waterfalls_Ultra%20HD.jpg);
    background-repeat: no-repeat;
    margin: 10px 10%;
}

h1 {
    color: black;
    font-family: "Julius Sans One", "Lucida Sans Unicode", sans-serif;
    font-size: 65px;
    margin: 1% 85px;
    margin-bottom: -30px;
    padding: 1% 20px;
}

h2 {
    color: black;
    font-family: "Julius Sans One", "Lucida Sans Unicode", sans-serif;
    font-size: 25px;
    font-style: italic;
    margin: 1% 100px;
    margin-top: -40px;
    padding: 1% 20px;
}

h3 {
    font-family: "Julius Sans One", "Lucida Sans Unicode", sans-serif;
    font-size: 29px;
    margin-bottom: -5px;
}

p {
    font-family: "Palatino Linotype", serif;
    font-size: 16.5px;
    line-height: 175%;
    text-align: justify;
}

abbr {
    text-decoration: underline;
}

a {
    color: goldenrod;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

ul {
    list-style-type: none;
}

/* .intro */

.intro header {
    background-color: white;
    background-image: url(../images/zen.png);
    background-repeat: no-repeat;
    border: 1px solid grey;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 0px 2%;
}

.intro .summary {
    background-color: white;
    border: 1px solid grey;
    border-top: 20px solid grey;
    float: left;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 0px 2%;
    padding-bottom: 23px;
    width: 24%;
}

.intro .summary p {
    font-size: 18px;
    margin-bottom: 0px;
}

.intro .preamble {
    background-color: white;
    border: 1px solid grey;
    
    border-right: 20px solid grey;
    float: right;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 0px 2%;
    width: 75%;
}

/* #zen-supporting */

#zen-supporting {
    float: right;
    width: 75%;
}

#zen-supporting .explanation {
    background-color: white;
    border: 1px solid grey;
    border-top: 20px solid grey;
    float: left;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 0px 2%;
    width: 30%;
}

#zen-supporting .participation {
    background-color: white;
    border: 1px solid grey;
    border-right: 20px solid grey;
    margin-left: 31%;
    margin-bottom: 1%;
    opacity: 0.9;
    padding: 0px 2%;
    padding-bottom: 20px;
    width: 69%;
}

#zen-supporting .benefits {
    background-color: white;
    border: 1px solid grey;
    border-right: 20px solid grey;
    margin-left: 31%;
    margin-bottom: 1%;
    padding: 0px 2%;
    padding-bottom: 24px;
    opacity: 0.9;
}

#zen-supporting .requirements {
    background-color: white;
    border: 1px solid grey;
    border-right: 20px solid grey;
    float: left;
    margin-bottom: 1%;
    padding: 0px 2%;
    opacity: 0.9;
}

#zen-supporting footer {
    background-color: white;
    border: 1px solid grey;
    float: left;
    margin-bottom: 1%;
    padding: 1% 2%;
    opacity: 0.9;
    text-align: center;
    width: 100%;
}

#zen-supporting footer a {
    font-size: 25px;
    margin: 50px;
}

/* .sidebar */

.sidebar .design-selection {
    background-color: white;
    border: 1px solid grey;
    border-bottom-style: none;
    border-top: 20px solid grey;
    float: left;
    padding: 0px 2%;
    opacity: 0.9;
    width: 24%;
    
}

.sidebar .design-selection ul {
    display: inline;
}

.sidebar .design-selection ul li {
    margin-bottom: 18px;
}

.sidebar .design-selection ul li .design-name{
    display: list-item;
    font-family: "Palatino Linotype", serif;
    font-size: 25px;
}

.sidebar .design-archives {
    background-color: white;
    border: 1px solid grey;
    border-bottom-style: none;
    border-top: none;
    float: left;
    padding: 0px 2%;
    opacity: 0.9;
    width: 24%;
}

.sidebar .design-archives ul {
    display: inline;
    font-size: 25px;
    font-family: "Palatino Linotype", serif;
}

.sidebar .design-archives ul li {
    margin-bottom: 18px;
}

.sidebar .zen-resources {
    background-color: white;
    border: 1px solid grey;
    border-bottom-style: none;
    border-top: none;
    float: left;
    padding: 0px 2%;
    padding-bottom: 97px;
    opacity: 0.9;
    width: 24%;
}

.sidebar .zen-resources ul {
    display: inline;
    font-size: 20px;
    font-family: "Palatino Linotype", serif;
}

.sidebar .zen-resources ul li {
    margin-bottom: 11px;
}